body {
	margin:0;
}

#banner {
	height:500px;
	width:100%;
	overflow:hidden;
}

#banner img {
	width:100%;
}

#menu {
	width:100%;
	overflow:hidden;
}

.affix {
	position:fixed;
	top:0;
	left:0;
}

#menu .contentlink {
	width:33.33%;
	margin:0;
	padding:0;
	float:left;
	color:white;
	text-decoration:none;
	text-shadow:2px 2px black;
	text-align:center;
}

#menu #content1link {
	background:green;
}

#menu #content2link {
	background:red;
}

#menu #content3link {
	background:blue;
}

.content {
	height:100vh;
	width:100%;
}

#content1 {
	background:green;
}

#content2 {
	background:red;
}

#content3 {
	background:blue
}

#footer {
	height:50vh;
	width:100%;
	background:purple;
}